html {
  background-color: gray;
  background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.5) 50%);
  background-size: 50px 50px;
  font-family:'helvetica neue';
  text-align: center;
  font-size: 10px;
}

body {
  font-size: 2rem;
  display:flex;
  flex:1;
  min-height: 100vh;
  align-items: center;
}

.clock {
  background-color: #f7f9f8;
  width: 30rem;
  height: 30rem;
  border:20px solid white;
  border-radius:50%;
  margin:50px auto;
  position: relative;
  padding:2rem;
  box-shadow:
    0 0 0 4px rgba(0,0,0,0.1),
    inset 0 0 0 3px #EFEFEF,
    inset 0 0 10px black,
    0 0 10px rgba(0,0,0,0.2);
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px); /* account for the height of the clock hands */
}

.clock-face::before {
  background-color: #000;
  border-radius: 50%;
  content: "";
  height: 20px;
  left: 46.5%;
  position: absolute;
  top: 47.5%;
  width: 20px;
}

.hand {
  background:black;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, .5);
  height:6px;
  position: absolute;
  right: 50%;
  top:50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
  transition: all 0.05s;
  width:50%;
}

.hour-hand {
  border-bottom-left-radius: 0.5em;
  border-top-left-radius: 0.5em;
  height: 10px;
  width: 40%;
}


.min-hand {
  height: 5px;
}

.second-hand {
  height: 2px;
  background-color: #eeaf1e;
  width: 54%;
}

.second-hand::before {
  background-color: #eeaf1e;
  border-radius: 50%;
  content: "";
  height: 10px;
  left: 95.5%;
  position: absolute;
  top: -4px;
  width: 10px;
}
